* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Outfit:wght@400;500&display=swap');

:root {
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
}

body{
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Outfit', sans-serif;
}

.container {
    
    width: 100vw;
    height: 100vh;    
    display: flex;
    justify-content: center;
    align-items: center;    
    background-color: var(--Light-gray);   
    
}

.qr__app {   
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--White);
   
}

.div-interna_qr {
    padding: 15px;
    
}

img {
    width: 100%;
    border-radius: 10px;
   
   
}

h1 {
    margin-top: 30px;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: var(--Dark-blue);
}

p {
    margin-top: 20px;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    color: #ccc;
}

.attribution { 
    font-size: 11px;
    text-align: center;
    margin-top: 30px;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .qr__app {
        width: 300px;
    }
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .qr__app {
        width: 320px;
    }
}

